#main_header_bar {
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    justify-content: space-around;
}

button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #28a8a8c7;
    border: none;
    background: local;
}

button:hover {
    text-decoration: underline;
}